body {
    display:flex;
    flex-wrap: wrap;
}  

.mDiv {
    background-color: black;
    color:white; 
    text-align: center;
    font-size: 25px;
    cursor: pointer;   
} 

.box {
    height:100px;
    width:100px;
}